<section id="about" class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>About Me</h2>
            <p>Hello! I'm <%= data.yourName %>, a passionate <%= data.yourProfession %> with a strong interest in <%= data.yourInterests %>. I have <%= data.yearsOfExperience %> years of experience in <%= data.yourField %>, and I love <%= data.somethingILove %>.</p>
            <p>I am committed to <%= data.yourMission %>, and always strive for excellence in everything I do. When I'm not working, you can find me <%= data.hobbiesOrInterests %>.</p>
            <!-- Add a link to download your resume -->
            <p><a href="../public/document/Rauf Resume_20231018_091916_0000.pdf" download>Download My Resume</a></p>
        </div>
        <div class="col-lg-6">
            <!-- Add your image here -->
            <img src="../images/Profile.jpg" alt="Your Image" class="img-fluid rounded-circle">
        </div>
    </div>
</section>
